:root {
    --primary-color: #faff00;
    --background-color: #2a2727;
    --text-color: lightgray;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #2a2727;
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.date {
    font-size: 1.2rem;
    color: lightgray;
}

.eventsContainer {
    display: grid;
    gap: 1.5rem;
}

.eventCard {
    background-color: #1A1A1A;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s ease;
}

.eventCard:hover {
    transform: translateY(-5px);
}

.eventTime {
    font-weight: bold;
    color: lightgray;
    margin-bottom: 0.5rem;
}

.eventTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: lightgray;
}

.eventDescription {
    font-size: 0.9rem;
    color: #666;
}

.arrow:hover {
    cursor: pointer;
    opacity: .5;
}

.arrow {
    margin: 3vh 3vw;
}

.linkButton {
    background-color: var(--primary-color);
    padding: 1vh 3vw;
    border-radius: 2rem;
    border: none;
    margin-top: 2vh;
    cursor: pointer;
    color: black;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .linkButton {
        padding: 1vh 12vw;
    }
}
