.art .month-container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.art .rbc-calendar {
	height: 100%;
}

.art .calendar-container {
	height: 100vh;
	background-color: #2a2727;
	padding: 20px;
	display: flex;
	overflow-x: hidden;
	/* overflow-y: auto; */
	box-sizing: border-box;
}


.art .custom-toolbar {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 10px 0;
}

.art .input-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: right;
	margin-right: 10vw;
}

.art .search-icon {
	position: absolute;
	left: 10px;
	color: lightgray;
	pointer-events: none;
	/* Prevent the icon from blocking input interaction */
}

.art .search-input {
	border: 1px solid lightgray;
	border-radius: 20px;
	font-size: 16px;
	padding: 5px 55px;
	background-color: inherit;
	color: lightgray;
	outline: none;
}

.art .rbc-button-link {
	color: #faff00 !important;
	font-weight: bold !important;
	cursor: default !important;
}

.art .rbc-off-range-bg {
	background-color: inherit !important;
}

.art .rbc-today {
	background-color: inherit !important;
}

.art .rbc-header {
	border: 1px solid #faff00;
}

.art .rbc-header>span[role="columnheader"] {
	color: #faff00 !important;
	font-weight: bold;
	text-transform: uppercase;
}

.art .rbc-day-bg {
	border: 1px solid #faff00;
}

.art .left-column {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 22px;
	border-radius: 15px;
	height: 40%;
	/* Adjust as needed */
	width: 80px;
	/* Set a fixed width */
	margin: auto;
}

.art .arrow-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s ease;
	color: #faff00;
	background-color: #333;
}

.art .top-left-month {
	color: #faff00;
	font-size: 36px;
	font-weight: bold;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	height: 200px;
	letter-spacing: 0px;
	margin: 15px 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.art .rbc-event {
	background-color: #faff00 !important;
	cursor: default !important;
}

.art .rbc-show-more {
	background: none !important;
	cursor: default !important;
}

